.banner{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #1D3345;
    background-color: #FFF;
    background: radial-gradient(circle at right, rgba(10,10,10,0.5) 0%, rgba(255,255,255,0) 60%),  url(../../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 60px);
    padding: 30px 105px 30px 50vw;
    margin-bottom: 300px;
    -webkit-box-shadow: 0px 200px 300px 5px rgba(206,214,222,1); 
    box-shadow: 0px 200px 300px 5px rgba(206,214,222,1);
}

/* Content */
.banner>img{
    text-align: right;
    max-height: 35%;
    max-width: 100%;
    margin-bottom: 50px;
    object-fit: contain;
    object-position: center;
}

.banner>h1{
    text-align: right;
    color: #FFF;
    font-size: 7em;
    margin: 10px 0;
}


/* Tablette */
@media screen and (max-width:800px){
    .banner{
        align-items: stretch;
        padding: 30px;
        margin-bottom: 300px;
    }
    
    .banner>h1{
        text-align: left;
        font-size: 5em;
    }
}